<div class="fix">
    <app-my-profile></app-my-profile>
</div>
<div class="wrapper">
    <div class="row">
        <div class="col-sm-5 hidden-xs">
            <div class="row">
                <div class="col-sm-7 hidden-xs"></div>
                <div class="col-sm-5 hidden-xs no-padding">
                    <app-fix-column></app-fix-column>
                </div>
            </div>
        </div>
        <div class="col-sm-7 main-col col-xs-12">
            <div class="row">
                <div class="col-sm-8 col-xs-12">
                    <app-hp-main-column></app-hp-main-column>
                </div>
                <div class="col-sm-4 hidden-xs right-section"></div>
            </div>
        </div>
    </div>
    <div class="bottom-background-img"></div>
</div>
