.fix-column {
    background: white;
    height: 1500px;
    text-align: center;
    padding: 25px;
}

.sign-in-box {
    
    width: 100%;
    min-height: 100px;
    padding: 10px;
    text-align: left;
}

.fix-column-header-line {
    background: url("../../assets/images/fix-column-header-line.png") no-repeat center;
    height: 30px;
}

.fix-column .status{
    direction: rtl;
    font-size: 14px;
}

.fix-column-tool-bar{
    background: url("../../assets/images/fix-column-tool-bar.png") no-repeat center;
    height: 70px;
}

.box {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding-top: 10px;
    padding-bottom: 40px;
    margin-bottom: 60px;
}

.header-status {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.header-status .col-sm-1 {
    padding-left: 0px;
}

.header-status .col-sm-6 {
    text-align: left;
    padding-left: 0px;
}

.header-status .col-sm-3 {
    padding: 0px;
}

.header-status .like {
    background: url("../../assets/images/like.png") no-repeat right;
    width: 30px;
    height: 20px;
}

