<div class="fix-column">
    <div class="sign-in-box">
        <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">חפש</button>
              </span>
        </div>
        <app-login></app-login>
    </div>
    <div class="box">
        <h4>סטטוסים מצייצים</h4> 
        <div class="fix-column-header-line"></div>   
        <p class="status">
           קודם כל, אנחנו שניים. בעל ואישה. פרק ב'. יש לנו ביחד ארבעה ילדים, ועוד מספר בלתי ידוע של חתולים שנוהגים לבקר בביתנו. אי היכרנו? באינטרנט כמו כל אחד מתוך שמונה זוגות אמירקנים. לא באתר היכרויות. לאחד מאיתנו היה בלוג ראעשני באתר "רשימות". לאחד מאיתנו היה בלוג מדובר בפלטפורמה חברתית אחרת. תוך כדי קריאת הפוסטים זה של זה, נוצרה שיחה, ניצתה אהבה. כי שיחה מולידה אהבה. זה לא היה פשוט. זה לא היה מתוכנן. זה חרג מכל מה שנראה לנו אפשרי או הגיוני. זה לא היה פשוט. זה לא היה מתוכנן.
        </p>
    </div>
    <div class="box">
        <h4>עשרת הגדולים</h4>
        <div class="fix-column-header-line"></div> 
        <div class="fix-column-tool-bar"></div> 
        <div class="header-status row" *ngFor="let status of topStatuses; let i=index">
            <div class="col-sm-1">{{(i + 1)}}.</div>
            <div class="col-sm-6">{{status.owner}}</div>
            <div class="col-sm-2">{{status.twits}}</div>
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-sm-6 like"></div>
                    <div class="col-sm-6">{{status.likes}}</div>
                </div>
            </div>
        </div>
    </div>
</div>

