a {
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

.login-error {
    padding: 10px;
    color: #b71c1c;
    font-weight: 600;
}

@media (max-width : 510px) {
    .login {
        padding-left: 25px;
    }

    a {
        padding-left: 30px;
    }

    input {
        width: 250px;
    }
}